/* Define color variables */
:root {
  --background-color: #031417;
  --text-color: #EBFDFF;
  --primary-color: #44C8DA;
  --accent-color: #E66533;
  --link-color: var(--text-color);
  --border-color: var(--primary-color);
}

/* Font */
:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

/* General Styles */
body {
  font-family: sans-serif;
  margin: 0;
  line-height: 1.6;
  background-color: var(--background-color);
  color: var(--text-color);
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

/* Header */
header {
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid var(--border-color);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.name {
  font-size: 0.9em;
  font-weight: normal;
  color: var(--primary-color);
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav li {
  margin-left: 20px;
}

nav a {
  text-decoration: none;
  color: var(--link-color);
  font-weight: normal;
  font-size: 0.9em;
}

nav a:hover {
  text-decoration: underline;
  color: var(--accent-color);
}

/* Hero Section */
#hero {
  text-align: center;
  padding: 40px 0;
  border-bottom: 1px solid var(--border-color);
}

#hero h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

#hero p {
  font-size: 1.2em;
  color: var(--text-color);
}

/* style of the hero section */
.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid var(--primary-color);
  animation: wiggle 1s linear infinite alternate;
}

/* Work Section */
#work {
  padding: 40px 0;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 30px;
  padding: 15px;
  border-radius: 5px;
  transition: box-shadow 0.3s ease;
  position: relative;
}

.project:hover {
  box-shadow: 0 0 50px #44c8da66;
}

.project-image {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 5px;
  margin-bottom: 10px;
  display: block;
}

.project p {
  font-size: 1.2em;
}

.project h3 {
  font-size: 1.5em;
  margin-bottom: 5px;
}

.project-content {
  display: flex;
  height: 100%;
}

.project-info {
  flex: 1;
}

.button-container button {
  background-color: var(--background-color);
  color: var(--text-color);
  border: 2px solid var(--text-color);
  padding: 20px 25px;
  border-radius: 8px;
  cursor: pointer;
  margin: 20px;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.button-container button:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
  border-color: var(--primary-color);
}

/*Button container style*/
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: auto;
  min-height: 100%;
  margin-left: 10px;
}

/* Keyframes for wiggle animation */
@keyframes wiggle {
  0% {
    transform: rotate(-3deg);
  }

  100% {
    transform: rotate(3deg);
  }
}

/* Contact Section */
#contact {
  padding: 40px 0;
  border-top: 1px solid var(--border-color);
  text-align: center;
}

#contact p {
  font-size: 1.2em;
}

#contact a {
  color: var(--primary-color);
  text-decoration: none;
}

#contact a:hover {
  text-decoration: underline;
  color: var(--accent-color);
}

/* Footer */
footer {
  text-align: center;
  padding: 20px 0;
  color: var(--primary-color);
  font-size: 0.9em;

}
